<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg" width="100" height="50" alt="">
    </a>
    <button class="navbar-toggler  collapsed" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/films']" routerLinkActive="active">Filmy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/series']" routerLinkActive="active">Seriale</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <input class="form-control mr-sm-2" type="search" placeholder="Np: Mind Hunter" aria-label="Search"
                name="search" [ngModel]="search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
</nav>