<div class="container">
    <div class="row" style="padding:20px">
        <div class="col-sm-4 poster" *ngFor="let element of data" [ngClass]="{'hide': element.Poster == null}">
            <img src="{{element.Poster}}" class="img-fluid">
            <div class="middle">
                <h3>{{element.Title }}</h3>
                <h5>{{element.imdbRating}}/10</h5>
                <button class="btn btn-primary" *ngIf="element.Type == 'movie'"
                    [routerLink]="['/detailfilm', element.imdbID]">Szczegóły</button>
                <button class="btn btn-primary" *ngIf="element.Type == 'series'"
                    [routerLink]="['/detailserie', element.imdbID]">Szczegóły</button>
            </div>
        </div>
    </div>
</div>