<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" data-src="" alt="First slide [800x400]"
                    src="{{activeTrend.Poster}}" data-holder-rendered="true">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{activeTrend.Title}}</h5>
                    <button class="btn btn-primary" [routerLink]="['/detail', activeTrend.imdbID]">Szczegóły</button>
                </div>
            </div>
            <div class="carousel-item"  *ngFor="let film of trend" >
                <img class="d-block w-100" data-src="" alt="First slide [800x400]"
                    src="{{film.Poster}}" data-holder-rendered="true">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{film.Title}}</h5>
                    <button class="btn btn-primary" [routerLink]="['/detail', film.imdbID]">Szczegóły</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- <div class="container">
        <div class="row" style="padding:20px">
            <h1 style="margin:auto; padding:20px;">W kinach :</h1>
            <div class="row">
                <div class="col-sm-4 poster" *ngFor="let film of nowplaying" [routerLink]="['/detail', film.imdbID]">
                    <img src="{{film.Poster}}" class="img-fluid">
                    <div class="middle">
                        <h3>{{film.Title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <app-poster [postersData]="nowplaying"></app-poster>
</div>